---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
	  <h2>{{ page.gruppenname }}</h2>
 {{ page.gruppenname }} ist eine Gruppe, dessen Eintrag zuletzt am {{ page.last-updated }} aktualisiert wurde.

{% if page.gruppenlabels %}
Die Gruppe wurde folgenden labels zugeordnet:
	{% for grlabel in page.gruppenlabels %}
	{{ grlabel }} <!-- seiten generieren für die labels? -->
	{% endfor %}
{% endif %}
Die Gruppe findet ihr hier:

{% if page.twitter %}
<a href="https://twitter.com/{{page.twitter}}">Twitter</a>
{% endif %}

{% if page.instagram %}
<a href="https://instagram.com/{{page.instagram}}">Instagram</a>
{% endif %}

{% if page.web %}
<a href="{{page.web}}">Homepage</a>
{% endif %}

    {{ content }}
  </div>

</article>
